@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

body {
    background: #20232a;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.theme1 {
    background: hsla(211, 96%, 62%, 1);
    background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
}
.theme2{
    background: #FC00FF;
    background: linear-gradient(32deg, #00DBDE 0%, #FC00FF 100%);
    background: -moz-linear-gradient(32deg, #00DBDE 0%, #FC00FF 100%);
    background: -webkit-linear-gradient(32deg, #00DBDE 0%, #FC00FF 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
}
.theme3{
    background: rgb(119,81,223);
    background: linear-gradient(133deg, rgba(119,81,223,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
}
.theme4{
    background: #99C8D4;
    background: linear-gradient(135deg, #99C8D4, #8EFCBC);  
    background: -moz-linear-gradient(135deg, #99C8D4, #8EFCBC);
    background: -webkit-linear-gradient(135deg, #99C8D4, #8EFCBC);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
}
.theme5{
    background: #ec4899;
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(245, 158, 11));

    background: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(245, 158, 11));
    background: -moz-linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(245, 158, 11));
    background: -webkit-linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(245, 158, 11));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    box-sizing: border-box;
}
.container::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.container.centered{
    text-align: center;
}

.container h1,.container h2,.container h3 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    cursor: default;
}

#app {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

#app.white #menu-button {
    color: #ffffff;
}
#app.white fieldset{
    border: 1px solid rgba(255,255,255,0.5);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

#app.white .content .container label{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

#app.white .content .container .title{
    background-color: rgba(255,255,255, 0.1);
    border-radius: 20px;
    padding: 4px 20px;
    color: #ffffff;

    min-width: 100px;
    text-align: center;
}
#app.white .container > p{
    color: #ffffff;
}

#menu-button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;
    float: right;
    right: 0px; top: 0px;
    transition: ease-in 240ms;
}

.side-menu {
    color: #fafafa;
    overflow: hidden;
    height: 100vh;
    transition: 240ms ease-in;
    vertical-align: top;
    position: absolute;
}

.side-menu>.container {
    display: none;
    background: none !important;
    padding: 20px;
    margin: 0;
    margin-top: 40px;
}
.side-menu>.container.bottom{
    position: absolute;
    bottom: 0;
    left: 0; right:0;
}


.side-menu+.content {
    transition: ease-in 240ms;
    vertical-align: top;
    position: absolute;
}

.side-menu.open {
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.5);
}

.side-menu.open>.container {
    display: block;
}

.side-menu.open+.content {
    pointer-events: none;
    opacity: 0.4;
}

.view {
    display: none;
}

.view.show {
    display: block;
}

.textbox {
    border: none;
    width: 100%;
    outline: none;
    padding: 10px 20px;
    box-sizing: border-box;

    color: #ffffff;
    resize: none;
    transition: ease-in 250ms;
    background-color: transparent;
}

.textbox:focus {
    /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);*/
    background-color: rgba(255, 255, 255, 0.25) !important;
    outline: none;
}

::placeholder {
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 1;
    text-transform: lowercase;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.content h2 {
    margin: 0 0 35px;
    text-align: center;
    font-weight: normal;
}

.content .container {
    max-width: 1024px;
    margin: auto;
    border-radius: 4px;
}

.content code{
    display: block;
    padding: 20px 40px;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.25);
    color: rgba(0,0,0,0.5);
    overflow: hidden;
    word-wrap: break-word;
    letter-spacing: 1px;
    min-height: 100px;
    font-weight: 500;
    font-family: monospace;
}

.content .hidden{
    display: none !important;
}

.content textarea,
.content input[type="text"]:not(.button) {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    letter-spacing: 1px;
}

.content textarea {
    border-radius: 10px;
    min-height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.content input[type="text"] {
    border-radius: 30px;
}
.content input[type="text"]:focus{
    outline: none;
}

.content input[type="text"].full{
    width: 100%;
}
select,.button,button {
    font-size: 15px;
    line-height: 15px;
    padding: 10px 20px;
    min-width: 180px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    transition: 0.3s;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-sizing: border-box;
}
select{
    appearance: none;
    color: rgba(0,0,0,0.25);
    border: 2px solid transparent;
    background-color: rgba(255,255,255,0.8);
}
select:focus,.button:focus,button:focus{
    outline: none;
    box-shadow: none;
}
.button,button{
    color: rgba(255,255,255,0.8);
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.5);
}
button:active,button:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}
.button.inline,button.inline{
    display: inline-block !important;
}
.button.small,button.small{
    min-width: 120px;
    padding: 10px 10px;
    width: auto !important;
    border: none !important;
    background-color: transparent;
}
.button.small:hover,button.small:hover,
.button.small:active,button.small:active{
    background-color: rgba(255,255,255,0.25);
}

.button.special,button.special{
    color: rgba(0, 0, 0, 0.4);
    border: 2px solid transparent;
    background-color: rgba(255,255,255,0.8);
}
button.special:not(:disabled):active,
button.special:not(:disabled):hover{
    color: rgba(0, 0, 0, 0.15);
    border-color: transparent;
    background-color: #ffffff;
}

.content .button.active {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,.8);
}

.content button:disabled {
    opacity: 0.25;
    background-color: rgba(0, 0, 0, 0.1);
}

.content .button.active:disabled {
    background-color: #ffffff;
}


.content > p {
    text-align: center;
    color: #980000;
    margin: 0 0 25px;    
}
@media only screen and (min-width: 1200px){
    body{
        font-size: 29px;
    }
    .content > p{
        font-size: 1.2em;
    }
    .content h2 {
        font-size: 2.5em;
    }
    .content .container {
        margin: 60px auto;
        padding: 60px;
        width: 80%;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1199px){
    body{
        font-size: 25px;
    }
    .content > p{
        font-size: 0.8em;
    }
    .content h2 {
        font-size: 1.5em;
    }
    .content .container {
        margin: 40px auto;
        padding: 40px;
        max-width: 80%;
    }    
}
@media only screen and (min-width: 480px) and (max-width: 959px){
    body{
        font-size: 21px;
    }
    .content > p{
        font-size: 0.6em;
    }
    .content h2 {
        font-size: 1em;
    }
    .content .container {
        margin: 30px auto;
        padding: 30px;
        width: 90%;
    }    
    .content .textbox,
    .content textarea,
    .content input[type="text"]:not(.button) {
        font-size: 19px;
    }
    .view > .container:first-child{
        margin-top: 30px;
    }    
}
@media only screen and (min-width: 960px){
   
    .view > .container:first-child{
        margin-top: 40px;
    }    

    .content .container {
        margin: 40px auto;
        border: 2px solid rgba(255,255,255,0.5);
    }    
    .content .textbox,
    .content textarea,
    .content input[type="text"]:not(.button) {
        font-size: 23px;
    }
    
    #menu-button {
        width: 80px;
        height: 80px;
        padding: 20px 0;
        font-size: 28px;
    }
    #app.white #menu-button:hover,
    #app.white #menu-button:active {
        background-color: rgba(255, 255, 255, 0.5);
    }    
    #app.white .content .container{
        border: 1px solid rgba(255,255,255,0,5);
    }
    #app.white .content .container.solid{
        border-color: transparent;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #app.white>.side-menu {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .side-menu {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;
    }
    .side-menu>.container {
        margin-top: 80px;
    }
    .side-menu+.content {
        width: calc(100% - 80px);
        left: 80px;
        height: 100vh;
    }
    .side-menu.open {
        width: 400px;
    }
    .side-menu.open+.content {
        left: 400px;
    }
}
@media only screen and (max-width: 959px){
    .content .container {
        margin: 20px auto;
    }        
    #menu-button {
        width: 40px;
        height: 40px;
        padding: 10px 0;
        font-size: 22px;
    }
    .side-menu {
        font-size: 18px;
        line-height: 20px;
        position: absolute;
        top: 0; left: 0;
        z-index: 10;
    }
    .side-menu>.container {
        margin-top: 20px;
    }
    .side-menu+.content {
        width: 100%
    }
    .side-menu.open {
        width: 80%;
    }
    .side-menu.open+.content {
        left: 200px;
    }    
    #app.white>.side-menu.side-menu.open {
        background-color: rgba(255, 255, 255, 0.25);
    }
}
@media only screen and (min-width: 640px){
    .container .title{
        display: inline-block;
    }
    .right {
        float: right;
    }
    button,.button{
        margin: auto;
    }
}
@media only screen and (min-width: 480px){
}
@media only screen and (max-width: 639px){
    .container .title{
        display: block;
        margin-bottom: 10px;
    }
    select,button,.button{
        width: 100%;
        float: initial;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 479px){
    body{
        font-size: 15px;
    }
    .view > .container:first-child{
        margin-top: 20px;
    }    
    .content .container {
        margin: 0 auto 20px;
        padding: 20px;
    }
    .content .textbox,
    .content textarea,
    .content input[type="text"]:not(.button) {
        font-size: 15px;
    }
}

.content p.downloading {
    font-size: 2em;
    color: #333;
}

.side-menu ul#saved {
    list-style-type: none;
    margin: 20px 0;
    padding: 20px 0;
}

.content hr,
.side-menu hr {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px 0;
    width: 100%;
}

/*.side-menu button {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}*/

/*.side-menu button:hover,
.side-menu button:active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #9a9a9a;
}*/

.side-menu button,
.side-menu ul#saved li.item {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: block;
    transition: ease-in 250ms;
}
.side-menu ul#saved li.item{
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.25);
    color: transparent;
}
.side-menu ul#saved li.item:not(:last-child){
    margin-bottom: 20px;
}
.side-menu ul#saved li.item:hover,
.side-menu ul#saved li.item:active {
    color: #ffffff;
    border-color: rgba(255,255,255,0.25);
    background-color: transparent;
}


.side-menu + .content > #cover{
    display: none;
    position: absolute;
    pointer-events: none;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: ease-in 240ms;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Visibility delayed */
}
.side-menu.open + .content > #cover{
    display: block;
    background-color: rgba(0,0,0,0.25);
    z-index: 10;
    cursor: pointer;
    pointer-events: initial;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s; /* Reset visibility delay */
}